@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0.5rem;
  background-image: url('/images/theme.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  padding: 9px 25px;
  background-color: #b133ff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0;
}

li,
a,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
}

.banner {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 28px;
  color: #edf0f1;
  margin-bottom: 5rem;
}

.contact {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

#name {
  margin-bottom: 1rem;
}

#name,
#title {
  transition: all 800ms ease 0s;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.view-resume {
  background-color: #b133ff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 6px;
  padding: 24px 32px;
  max-height: 168px;
}

.view-resume:hover {
  background-color: #0088a9;
}

.technology-stack {
  border: 3px solid #b133ff;
  padding: 20px;
  width: 500px;
  color: #edf0f1;
  border-radius: 10px;
  background-color: #100f14;
  margin-right: 5rem;
}

.technology-stack > ul {
  list-style: none;
}

.technology-stack > h3 {
  font-size: 24px;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  background-color: #100f14;
}

.technology-stack > ul > li {
  margin: 15px 20px;
  font-size: 18px;
  background-color: #100f14;
}

.technologies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #100f14;
}

.logo {
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-links li {
  margin: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;
}

i {
  margin-right: 0.3rem;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.intro-container {
  width: 500px;
  margin-left: 5rem;
}

.introduction {
  font-family: 'Montserrat';
  font-size: 1.2rem;
  color: #edf0f1;
  margin-bottom: 2rem;
  font-weight: 400;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.technologyIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.techIcon {
  border-radius: 50%;
  height: 100px;
  margin: 0 2rem;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 1rem;
  }

  .banner {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 28px;
    color: #edf0f1;
    margin-bottom: 2rem;
  }

  .introduction {
    margin-bottom: 1rem;
  }

  .technology-stack > ul > li {
    margin: 15px 10px;
    font-size: 18px;
  }

  .technology-stack {
    width: auto;
    margin-right: 0;
  }

  .nav-links li {
    margin: 0.7rem 0.8rem;
  }

  .nav-links {
    justify-items: center;
  }

  .flex-container {
    flex-direction: column;
  }

  header {
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
  }

  .intro-container {
    width: auto;
    margin-left: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  .technologyIcons {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
}
