@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 3rem 0.5rem;
  background-image: url('/images/terminal.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #100f14;
}

button {
  padding: 9px 25px;
  background-color: #b133ff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0;
}

li,
a,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.mainContainer {
  width: 100%;
}

.banner {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 28px;
  color: #edf0f1;
  margin-bottom: 3rem;
}

.contact {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

#name {
  margin-bottom: 1rem;
}

#name,
#title {
  transition: all 800ms ease 0s;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.view-resume {
  background-color: #b133ff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 6px;
  padding: 24px 32px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-resume:hover {
  background-color: #0088a9;
}

.technology-stack {
  border: 3px solid #b133ff;
  padding: 20px;
  width: 500px;
  color: #edf0f1;
  border-radius: 10px;
  background-color: #100f14;
  margin-right: 5rem;
}

.technology-stack > ul {
  list-style: none;
}

.technology-stack > h3 {
  font-size: 24px;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  background-color: #100f14;
  justify-content: center;
  display: flex;
  align-items: center;
}

.technology-stack > ul > li {
  margin: 15px 20px;
  font-size: 18px;
  background-color: #100f14;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

.technologies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #100f14;
}

.logo {
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-links li {
  margin: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li a:hover {
  color: #0088a9;
}

.fontawesome-icon {
  margin-right: 0.3rem;
}

.stack-icon {
  margin-right: 0.4rem;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.intro-container {
  width: 500px;
  margin-left: 5rem;
}

.introduction {
  font-family: 'Montserrat';
  font-size: 1.2rem;
  color: #edf0f1;
  margin-bottom: 2rem;
  font-weight: 400;
  text-align: justify;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.technologyIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.techIcon {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
  border-radius: 50%;
}

.quote {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: #edf0f1;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 4rem;
}

.keep-in-touch {
  color: #edf0f1;
  text-align: center;
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 6rem;
}

.author {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 2rem 1rem;
    height: auto;
    background-position: unset;
    background-image: none;
  }

  .banner {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 28px;
    color: #edf0f1;
    margin-bottom: 2rem;
  }

  .introduction {
    margin-bottom: 1rem;
  }

  .technology-stack > ul > a {
    margin: 15px 10px;
    font-size: 18px;
  }

  .technology-stack {
    width: auto;
    margin-right: 0;
  }

  .nav-links li {
    margin: 0.7rem 0.8rem;
  }

  .nav-links li a {
    font-size: 0.9rem;
  }

  .flex-container {
    flex-direction: column;
  }

  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .keep-in-touch {
    margin-top: 2rem;
  }

  .intro-container {
    width: auto;
    margin-left: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  .technologyIcons {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }

  .quote {
    font-size: 2rem;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 1366px) {
  .keep-in-touch {
    margin-top: 1.5rem;
  }

  .flex-container {
    justify-content: space-between;
  }
}
